@charset "utf-8";
@import url("avbaranim.css");
/* CSS Document */
*{
	font-family: Roboto;
}

body {
	background-color: #0a0a0a;
	overflow-x: hidden;
}

.logo{
	text-decoration: none;
	color: aliceblue;}

.bg1page{
	background: url(images/b-main.png);
	margin: 0 0 0 5%;
	width: 120%;
	height: 768px;
}

.bod{
	width: 1280px;
	height: 100%;
	display:flex;
	justify-content: flex-end;
	margin-top: -10px;
	
	z-index: -1;
}


.searchup {
	color: white;
}

.menu{
	padding: 15px 25px;
	text-decoration: none;
	color: aliceblue;
	
	
}

/* .searchinsite{
	display: none;
    position: fixed ;
    top: 0;
    width: 100%;
    height: 100%;
	background-color: rgba(0,0,0, .3);
	
	

}
.saerchinsite_f {
		position: absolute;
        top: 50%;
        left: 50%;
        width: 1024px;
        min-height: 200px;
        max-height: 640px;
        background-color: #fff;
        transform: translateX(-50%) translateY(-50%);
        padding: 25px;
        overflow: auto;
} */
.top{ 
width: 1280px;}

.tit{
	color:aliceblue;
	margin: -33% 0px 0px 10%;
	font-weight:bold;
	font-size: 25px;
}

.inform{
	color:aliceblue;
	margin: 2% 0px 0px 10%;
	font-size: 17px;
}
.anim{
	width: 100%;
	height: 105px;
	margin: 3% 0 0 10%;
	
	
}
.connect {
width: 30%;
	height: 100%;
	text-decoration: none;
	font-size: 16px;
	color:aliceblue;
	border: 1px solid aliceblue;
	padding: 1em 3em;
	transition: all 2s ease;
	
	}
.bottom {
	display: flex;
	width: 100%;
	justify-content:space-around;
	
	margin: 5% 0 0 -12%;
}
.titlepage{
	color:black;
	font-size: 138px;
	font-weight: bold;
	
	letter-spacing: 5px;
}
.titlepagealign{
	text-align: center;
}
.textvd{
	color: white;
}

.page2stalin{
	width: 612px;
	height: 301px;
	margin: -14% 0% 0% 14%;
}
.textstalin1{
	margin: -12% 0% 0% 45%;
}
.textstalin2{
	margin: 9% 0% 0% 30%;
}
.page3sud{
	width: 612px;
	height: 401px;
	margin: -14% 0% 0% 42%;
}
.textsud1{
	margin: -25% 0% 0% 7%;
}
.textsud2{
	margin: 10% 0% 0% 20%;
}
.curculi{
	margin: 7% 0% 0% 5%;

}
.page4people{
	width: 43%;/*612 350*/
	height: 38%;
	margin: -14% 0% 0% 6%;
}
.textpeople1{
	margin: -20% 0% 0% 45%;
}
.textpeople2{
	margin: 5% 0% 0% 45%;
}
.textpeople3{
	margin: 5.5% 0% 0% 16%;
	padding: 0% 0% 3% 0%;
}
nav {
	display:flex;
	justify-content: space-between;
	width: 150%;
	
	position:fixed;
	background-color: #0a0a0a;
	padding: 25px 0px 20px 48px;
	z-index: 1;
	
}
.repressed {
	color: white;
	text-align: center;
	font-size: 2em;
}
.flexboxblock{
	display: flex;
	justify-content: space-evenly;
	color: white;
}
.sort {
	display: block;
	height: 250px ;
	width: 100px;
}

.nodots{
	list-style-type: none;
	padding: 0px 0px 25px 0px;

}

.listpeople{
	width: 700px;
	
	color: white;
	column-count: 2;

	list-style-position: outside;
	-moz-column-count: 2; /* Firefox */
-webkit-column-count: 2; /* Safari and Chrome */
margin: 2px 0 0 0;
	
}
.flexboxlist {
	margin: 20px 0 0 0;
	display: flex;
  align-items: center;
  justify-content: center;
}
.formlist {
	background: #000;
	margin: 30%;
	width: 60%;
	height: 70%;
	margin: 10% 0 0 25%;
	
}
.searchform {
	color: white;
	text-align: center;
}
.container {
	width: 1280px;
}
.textform {
	color: white;
	text-align: center;
}
.formlisttext {
	display: block;
}
.lenthbetwtextarea {
	margin: 0 0 5% 17%;
	background: rgba(0, 0, 0, 0);
	color: white;
	
}
.lenthbetwtextareaheight {
	height: 50px;
}
.textarealow {
	height: 100px
}
.btnsubmit{
	text-align: center;
	margin: 0 0 0 35%;
	width: 245px;
	height: 50px;
	background: #000;
	color: white;
}
footer {
	background: #000;
	color: white;
	display: flexbox;
	
}